@{
    ViewData["Title"] = "Aplicação Web";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <br />
    <p>A presente aplicação foi construída usando ASP.NET, C# e Entity Framework para demonstrar as ações de Criação, Leitura, Atualização e Exclusão (Create, Read, Update and Delete - CRUD) em sistema de vendas!.</p>
</div>
