@{
    ViewData["Title"] = "Aplicação Web";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <p>A presente aplicação foi construída usando ASP.NET, C# e Entity Framework para demonstrar as ações de Criação, Leitura, Atualização e Exclusão (Create, Read, Update and Delete - CRUD) em sistema de vendas!.</p>
</div>
<h2>Lista de CRUDs</h2>
<ul>
    <li><a asp-area="" asp-controller="Departments" asp-action="Index">Departamentos</a></li>
    <li><a asp-area="" asp-controller="Sellers" asp-action="Index">Vendedores</a></li>
</ul>
